# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_BLAATIND_CPUAPP
	bool "blaatind_cpuapp"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_BLAATIND_CPUNET
	bool "blaatind_cpunet"
	depends on SOC_NRF5340_CPUNET_QKAA
