# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_TINDERBOARD
	bool "tinderboard"
	depends on SOC_NRF5340_CPUAPP_QKAA

config BOARD_TINDERBOARD_CPUNET
	bool "tinderboard_cpunet"
	depends on SOC_NRF5340_CPUNET_QKAA
